main{
    min-height: 80vh;
    font-size: 17px;
}
article{
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 38px;
    text-shadow: 5px 5px 5px #ccc;
    margin-top: 25px;
    padding-bottom: 45px;
}
h3{
    font-size: 30px;
    margin: 35px 0 15px;
}
p{
    text-align: justify;
}
.content-box p{
    margin-bottom: 13px;
}
.content-box .massage-is-for{
    float: right;
    width: 550px;
    margin-left: 10px;
}
.content-box .massage-not-for{
    float: left;
    width: 550px;
    margin-right: 10px;
    padding-top: 8px;
}
.summary-container{
    display: inline-block;
}
@media screen and (max-width: 760px) {
    h1{
        font-size: 25px;
        margin-top: 55px;
    }
    h3{
        font-size: 24px;
    }
    .main-text,
    .content-box p,
    .summary-text{
        font-size: 14px;
    }
    .content-box p{
        margin-bottom: 13px;
    }
    .content-box .massage-is-for,
    .content-box .massage-not-for{
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}