main{
    min-height: 80vh;
}
article{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 38px;
    text-shadow: 5px 5px 5px #ccc;
    margin-top: 25px;
    padding-bottom: 45px;
}
.justify-text-alignment{
    text-align: justify;
}
h3{
    font-size: 30px;
    margin: 35px 0 15px;
}
article ul{
    margin-left: 28px;
    padding-top: 13px;
}
.images-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 35px 0;   
}
.images-container img{
    width: 530px;
    box-shadow: 0px 0px 15px 5px #90723c;
}
.summary-text{
    margin-top: 28px;
}
@media screen and (max-width: 760px) {
    h1{
        font-size: 25px;
        margin-top: 55px;
    }
    h3{
        font-size: 24px;
    }
    ul{
        margin-left: 20px;
    }
    article .main-text,
    article .content-box,
    article .summary-text{
        font-size: 14px;
    }

    .images-container img{
        width: 300px;
        gap: 0;
    }
}