@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
footer{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: end;
    background-image: url(../images/wave.svg);
    background-size: cover;
    background-position: top bottom;
    background-repeat: no-repeat;
    min-height: 220px;
}
.footer-container{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 28px 8%;
}
.footer-container .copyright{
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.footer-container .social-icons-list{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 32px;
    list-style: none;
}
.footer-container .social-icons-list i{
    color: #fff;
}
.social-icons-list li a {
    position: relative;
    z-index: 10;
}
.personal-data-protection-container .personal-data-protection{
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 760px) {
    .footer-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        text-align: right;
    }
    .footer-container .copyright {
        font-size: 15px;
    }
    .footer-container .social-icons-list {
        font-size: 19px;
    }
    .personal-data-protection-container .personal-data-protection {
        font-size: 11px;
    }
}