@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
article{
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
.main-heading{
    text-align: center;
    font-size: 38px;
    text-shadow: 5px 5px 5px #ccc;
    margin-top: 25px;
    padding-bottom: 45px;
}
.top-paragraph{
    padding-bottom: 25px;
}
.sub-heading{
    font-size: 20px;
    padding: 15px 0px 5px;
}
main ul li{
    margin-left: 20px;
}
@media screen and (max-width: 760px){
    .main-heading{
        font-size: 25px;
        margin-top: 55px;
    }
    p, main ul li{
        font-size: 14px;
    }
}