@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
main{
    font-family: "Poppins", sans-serif;
    margin: 30px 5%;
}
.border-line{
    margin: 57px auto;
    width: 87%;
    height: 1px;
    background-color: #b39763;
}
.special-packages-header{
    text-align: center;
    font-size: 38px;
    text-shadow: 5px 5px 5px #ccc;
    margin-top: 25px;
    padding-bottom: 45px;
}
#wellness-section{
    scroll-margin-top: 45px;
}
.prepaid-ticket-container,
.gift-voucher-conatiner,
.special-packages-container,
.wellness-offer-container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.offer-subheading{
    text-align: center;
    padding-bottom: 22px;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #90723c;
    text-underline-offset: 8px;
}
.packages-offer-section-container{
    width: 350px;
    min-height: 405px;
    box-shadow: 0px 0px 15px 5px #90723c;
    color: #000;
    transition: transform 0.5s;
}
.packages-offer-section-container img{
    width: 100%;
    height: 200px;
}
.tooltip-container{
    position: relative;
    transition: all 0.3s;
}
.tooltip{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 99%;
    height: 100%;
    transform: translateX(-50%);
    padding: 0px 5px 0px 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}
.show-tooltip{
    top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.packages-offer-section-container h3{
    margin: 8px 0 8px 6px;
}
.packages-offer-section-container p,
.packages-offer-section-container .package-price{
    margin: 0 5px 7px 6px;
}
.packages-offer-section-container .package-price{
    font-size: 19px;
}
.add-to-basket{
    display: block;
    margin: 15px auto;
    font-size: 20px;
    padding: 10px;
    width: 95%;
    border: none;
    outline: none;
    background-color: #29af29;
    color: #fff;
    cursor: pointer;
}
.cart-buttons-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.packages-offer-section-container .cart-buttons-container .add-to-basket{
    margin: 15px 0px;
    width: 80%;
}
.product-info-btn{
    font-size: 20px;
    padding: 10px;
    width: 15%;
    border: none;
    outline: none;
    background-color: #3636c6;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .special-packages-header{
        font-size: 30px;
    }
    .packages-offer-section-container{
        width: 300px;
        min-height: 355px;
    }
}